extends layout

block content
  h1(class='game-list') #{title}
  
    
    div(class='container mt-3')
      div(class='card-deck')
        each game in product_list
          div(class='card mb-4 card-styles h-100')
            img(class='card-img-top game-icon' src=game.iconurl alt='Card image cap') 
            div(class='card-body')
              a(href=game.url class='game-title')
                h5(class='card-title') #{game.name}
              p(class='card-text game-description') #{game.description}
              button(class='btn btn-light') Buy Now
